*, ::before, ::after {box-sizing: border-box;}
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');


body {
    height: 100vh;
    background: #202020;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    font-family: 'Nunito', sans-serif;
}

ul {
  list-style: none;
  display: inline;

  li {
      border: 1px solid whitesmoke;
      padding: 5px 7px;
      border-radius: 8px;
      +li {
          margin-top: .5rem;
      }
  }
}